USE [vcddb]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 29/5/2025 下午10:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[phone_number] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[purchase_records]    Script Date: 29/5/2025 下午10:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[purchase_records](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[price] [real] NOT NULL,
	[purchase_date] [date] NOT NULL,
	[quantity] [int] NOT NULL,
	[updated_at] [datetime2](6) NOT NULL,
	[vcd_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rental_records]    Script Date: 29/5/2025 下午10:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rental_records](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[deposit] [real] NOT NULL,
	[expected_return_date] [date] NULL,
	[is_returned] [bit] NOT NULL,
	[rental_date] [date] NOT NULL,
	[updated_at] [datetime2](6) NOT NULL,
	[customer_id] [bigint] NOT NULL,
	[vcd_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[return_records]    Script Date: 29/5/2025 下午10:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[return_records](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[deposit_refund] [real] NOT NULL,
	[overdue_days] [int] NOT NULL,
	[overdue_fee] [real] NOT NULL,
	[price] [real] NOT NULL,
	[return_date] [date] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[updated_at] [datetime2](6) NOT NULL,
	[customer_id] [bigint] NOT NULL,
	[rental_id] [bigint] NOT NULL,
	[vcd_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sales_records]    Script Date: 29/5/2025 下午10:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales_records](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[price] [real] NOT NULL,
	[sale_date] [date] NOT NULL,
	[updated_at] [datetime2](6) NOT NULL,
	[customer_id] [bigint] NOT NULL,
	[vcd_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 29/5/2025 下午10:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[updated_at] [datetime2](6) NOT NULL,
	[username] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vcd]    Script Date: 29/5/2025 下午10:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vcd](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[actor] [varchar](255) NOT NULL,
	[description] [varchar](255) NOT NULL,
	[director] [varchar](255) NOT NULL,
	[publish_year] [varchar](255) NOT NULL,
	[rent_price] [real] NOT NULL,
	[sales_price] [real] NOT NULL,
	[time] [varchar](255) NOT NULL,
	[title] [varchar](50) NOT NULL,
	[category_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vcd_categories]    Script Date: 29/5/2025 下午10:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vcd_categories](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[description] [varchar](255) NOT NULL,
	[name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vcd_inventory]    Script Date: 29/5/2025 下午10:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vcd_inventory](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[rent_count] [int] NOT NULL,
	[stock] [int] NOT NULL,
	[updated_at] [datetime2](6) NOT NULL,
	[vcd_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[customers] ON 

INSERT [dbo].[customers] ([id], [name], [phone_number]) VALUES (1, N'大拖把', N'15360560006')
INSERT [dbo].[customers] ([id], [name], [phone_number]) VALUES (2, N'张伟', N'13812345678')
INSERT [dbo].[customers] ([id], [name], [phone_number]) VALUES (3, N'王芳', N'13987654321')
SET IDENTITY_INSERT [dbo].[customers] OFF
GO
SET IDENTITY_INSERT [dbo].[purchase_records] ON 

INSERT [dbo].[purchase_records] ([id], [created_at], [price], [purchase_date], [quantity], [updated_at], [vcd_id]) VALUES (1, CAST(N'2025-05-29T21:39:52.2866670' AS DateTime2), 19.99, CAST(N'2024-06-01' AS Date), 2, CAST(N'2025-05-29T21:39:52.2866670' AS DateTime2), 1)
INSERT [dbo].[purchase_records] ([id], [created_at], [price], [purchase_date], [quantity], [updated_at], [vcd_id]) VALUES (2, CAST(N'2025-05-29T21:39:52.2866670' AS DateTime2), 29.99, CAST(N'2024-06-02' AS Date), 1, CAST(N'2025-05-29T21:39:52.2866670' AS DateTime2), 2)
INSERT [dbo].[purchase_records] ([id], [created_at], [price], [purchase_date], [quantity], [updated_at], [vcd_id]) VALUES (3, CAST(N'2025-05-29T21:39:52.2866670' AS DateTime2), 15.5, CAST(N'2024-06-03' AS Date), 3, CAST(N'2025-05-29T21:39:52.2866670' AS DateTime2), 3)
SET IDENTITY_INSERT [dbo].[purchase_records] OFF
GO
SET IDENTITY_INSERT [dbo].[rental_records] ON 

INSERT [dbo].[rental_records] ([id], [created_at], [deposit], [expected_return_date], [is_returned], [rental_date], [updated_at], [customer_id], [vcd_id]) VALUES (1, CAST(N'2025-05-29T21:42:14.6100000' AS DateTime2), 50, CAST(N'2024-06-05' AS Date), 1, CAST(N'2024-06-01' AS Date), CAST(N'2025-05-29T21:42:14.6100000' AS DateTime2), 1, 1)
INSERT [dbo].[rental_records] ([id], [created_at], [deposit], [expected_return_date], [is_returned], [rental_date], [updated_at], [customer_id], [vcd_id]) VALUES (2, CAST(N'2025-05-29T21:42:14.6100000' AS DateTime2), 60, CAST(N'2024-06-06' AS Date), 0, CAST(N'2024-06-02' AS Date), CAST(N'2025-05-29T21:42:14.6100000' AS DateTime2), 2, 2)
INSERT [dbo].[rental_records] ([id], [created_at], [deposit], [expected_return_date], [is_returned], [rental_date], [updated_at], [customer_id], [vcd_id]) VALUES (3, CAST(N'2025-05-29T21:42:14.6100000' AS DateTime2), 55, CAST(N'2024-06-07' AS Date), 1, CAST(N'2024-06-03' AS Date), CAST(N'2025-05-29T21:42:14.6100000' AS DateTime2), 3, 3)
SET IDENTITY_INSERT [dbo].[rental_records] OFF
GO
SET IDENTITY_INSERT [dbo].[sales_records] ON 

INSERT [dbo].[sales_records] ([id], [created_at], [price], [sale_date], [updated_at], [customer_id], [vcd_id]) VALUES (1, CAST(N'2025-05-29T21:41:20.4000000' AS DateTime2), 25.99, CAST(N'2024-06-01' AS Date), CAST(N'2025-05-29T21:41:20.4000000' AS DateTime2), 1, 1)
INSERT [dbo].[sales_records] ([id], [created_at], [price], [sale_date], [updated_at], [customer_id], [vcd_id]) VALUES (2, CAST(N'2025-05-29T21:41:20.4000000' AS DateTime2), 30.5, CAST(N'2024-06-02' AS Date), CAST(N'2025-05-29T21:41:20.4000000' AS DateTime2), 2, 2)
INSERT [dbo].[sales_records] ([id], [created_at], [price], [sale_date], [updated_at], [customer_id], [vcd_id]) VALUES (3, CAST(N'2025-05-29T21:41:20.4000000' AS DateTime2), 18.75, CAST(N'2024-06-03' AS Date), CAST(N'2025-05-29T21:41:20.4000000' AS DateTime2), 3, 3)
SET IDENTITY_INSERT [dbo].[sales_records] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [created_at], [password], [updated_at], [username]) VALUES (1, CAST(N'2025-05-29T09:47:38.4110510' AS DateTime2), N'$2a$10$4BpKdI9DRBrKwBZNj.Z5k.b4OCB8RTj4C37VYsByaO/tfI4zZd2KO', CAST(N'2025-05-29T09:47:38.4110510' AS DateTime2), N'tatoba')
INSERT [dbo].[users] ([id], [created_at], [password], [updated_at], [username]) VALUES (2, CAST(N'2025-05-29T13:04:21.0068850' AS DateTime2), N'$2a$10$/Ni2yQMroewc6vkzTI9N8uSoAJOvZL.GYJx8zJHwSfxDm93vF96YG', CAST(N'2025-05-29T13:04:21.0068850' AS DateTime2), N'tatoba123')
INSERT [dbo].[users] ([id], [created_at], [password], [updated_at], [username]) VALUES (5, CAST(N'2025-05-29T13:35:08.6156590' AS DateTime2), N'$2a$10$oimGs5ZhnjMosrjhP0hAeesJxt50kQ..pDe7P3BPXkGhcXmVCxqvu', CAST(N'2025-05-29T13:35:08.6156590' AS DateTime2), N'tatoba258')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET IDENTITY_INSERT [dbo].[vcd] ON 

INSERT [dbo].[vcd] ([id], [actor], [description], [director], [publish_year], [rent_price], [sales_price], [time], [title], [category_id]) VALUES (1, N'周星驰，黄圣依', N'讲述了一个流氓小混混立志成为一代功夫高手的故事', N'周星驰', N'2004', 5, 25, N'95分钟', N'功夫', 2)
INSERT [dbo].[vcd] ([id], [actor], [description], [director], [publish_year], [rent_price], [sales_price], [time], [title], [category_id]) VALUES (2, N'刘德华，梁朝伟', N'讲述了警察与黑帮卧底之间的故事', N'刘伟强，麦兆辉', N'2002', 6, 30, N'101分钟', N'无间道', 9)
INSERT [dbo].[vcd] ([id], [actor], [description], [director], [publish_year], [rent_price], [sales_price], [time], [title], [category_id]) VALUES (3, N'李连杰，梁朝伟，张曼玉', N'以战国时期为背景的武侠故事', N'张艺谋', N'2002', 5.5, 28, N'99分钟', N'英雄', 15)
SET IDENTITY_INSERT [dbo].[vcd] OFF
GO
SET IDENTITY_INSERT [dbo].[vcd_categories] ON 

INSERT [dbo].[vcd_categories] ([id], [description], [name]) VALUES (1, N'包含打斗、枪战等激烈场景的电影', N'动作片')
INSERT [dbo].[vcd_categories] ([id], [description], [name]) VALUES (2, N'以幽默搞笑为主要元素的电影', N'喜剧片')
INSERT [dbo].[vcd_categories] ([id], [description], [name]) VALUES (3, N'主要描述恋爱故事的电影', N'爱情片')
SET IDENTITY_INSERT [dbo].[vcd_categories] OFF
GO
SET IDENTITY_INSERT [dbo].[vcd_inventory] ON 

INSERT [dbo].[vcd_inventory] ([id], [created_at], [rent_count], [stock], [updated_at], [vcd_id]) VALUES (2, CAST(N'2025-05-29T21:40:39.1200000' AS DateTime2), 10, 100, CAST(N'2025-05-29T21:40:39.1200000' AS DateTime2), 1)
INSERT [dbo].[vcd_inventory] ([id], [created_at], [rent_count], [stock], [updated_at], [vcd_id]) VALUES (3, CAST(N'2025-05-29T21:40:39.1200000' AS DateTime2), 5, 80, CAST(N'2025-05-29T21:40:39.1200000' AS DateTime2), 2)
INSERT [dbo].[vcd_inventory] ([id], [created_at], [rent_count], [stock], [updated_at], [vcd_id]) VALUES (4, CAST(N'2025-05-29T21:40:39.1200000' AS DateTime2), 20, 120, CAST(N'2025-05-29T21:40:39.1200000' AS DateTime2), 3)
SET IDENTITY_INSERT [dbo].[vcd_inventory] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKr43af9ap4edm43mmtq01oddj6]    Script Date: 29/5/2025 下午10:08:30 ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UKr43af9ap4edm43mmtq01oddj6] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKp1ul2bhbwt150msfvw2n4e08s]    Script Date: 29/5/2025 下午10:08:30 ******/
ALTER TABLE [dbo].[vcd] ADD  CONSTRAINT [UKp1ul2bhbwt150msfvw2n4e08s] UNIQUE NONCLUSTERED 
(
	[title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK99ws1ici9gfs44bq6w6mkef48]    Script Date: 29/5/2025 下午10:08:30 ******/
ALTER TABLE [dbo].[vcd_categories] ADD  CONSTRAINT [UK99ws1ici9gfs44bq6w6mkef48] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKascye9dseuk2fy8oajbxrnjt3]    Script Date: 29/5/2025 下午10:08:30 ******/
ALTER TABLE [dbo].[vcd_inventory] ADD  CONSTRAINT [UKascye9dseuk2fy8oajbxrnjt3] UNIQUE NONCLUSTERED 
(
	[vcd_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[purchase_records]  WITH CHECK ADD  CONSTRAINT [fk_purchase_records_vcd] FOREIGN KEY([vcd_id])
REFERENCES [dbo].[vcd] ([id])
GO
ALTER TABLE [dbo].[purchase_records] CHECK CONSTRAINT [fk_purchase_records_vcd]
GO
ALTER TABLE [dbo].[rental_records]  WITH CHECK ADD  CONSTRAINT [fk_rental_records_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[rental_records] CHECK CONSTRAINT [fk_rental_records_customer]
GO
ALTER TABLE [dbo].[rental_records]  WITH CHECK ADD  CONSTRAINT [fk_rental_records_vcd] FOREIGN KEY([vcd_id])
REFERENCES [dbo].[vcd] ([id])
GO
ALTER TABLE [dbo].[rental_records] CHECK CONSTRAINT [fk_rental_records_vcd]
GO
ALTER TABLE [dbo].[return_records]  WITH CHECK ADD  CONSTRAINT [fk_return_records_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[return_records] CHECK CONSTRAINT [fk_return_records_customer]
GO
ALTER TABLE [dbo].[return_records]  WITH CHECK ADD  CONSTRAINT [fk_return_records_rental] FOREIGN KEY([rental_id])
REFERENCES [dbo].[rental_records] ([id])
GO
ALTER TABLE [dbo].[return_records] CHECK CONSTRAINT [fk_return_records_rental]
GO
ALTER TABLE [dbo].[return_records]  WITH CHECK ADD  CONSTRAINT [fk_return_records_vcd] FOREIGN KEY([vcd_id])
REFERENCES [dbo].[vcd] ([id])
GO
ALTER TABLE [dbo].[return_records] CHECK CONSTRAINT [fk_return_records_vcd]
GO
ALTER TABLE [dbo].[sales_records]  WITH CHECK ADD  CONSTRAINT [fk_sales_records_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[sales_records] CHECK CONSTRAINT [fk_sales_records_customer]
GO
ALTER TABLE [dbo].[sales_records]  WITH CHECK ADD  CONSTRAINT [fk_sales_records_vcd] FOREIGN KEY([vcd_id])
REFERENCES [dbo].[vcd] ([id])
GO
ALTER TABLE [dbo].[sales_records] CHECK CONSTRAINT [fk_sales_records_vcd]
GO
ALTER TABLE [dbo].[vcd]  WITH CHECK ADD  CONSTRAINT [fk_vcd_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[vcd_categories] ([id])
GO
ALTER TABLE [dbo].[vcd] CHECK CONSTRAINT [fk_vcd_category]
GO
ALTER TABLE [dbo].[vcd_inventory]  WITH CHECK ADD  CONSTRAINT [fk_inventory_vcd] FOREIGN KEY([vcd_id])
REFERENCES [dbo].[vcd] ([id])
GO
ALTER TABLE [dbo].[vcd_inventory] CHECK CONSTRAINT [fk_inventory_vcd]
GO
ALTER TABLE [dbo].[return_records]  WITH CHECK ADD CHECK  (([status]='DAMAGED' OR [status]='OVERDUE' OR [status]='NORMAL'))
GO
